/* ============================================================================
	ie-support
============================================================================= */
.counter-item__digit span{
	color: #431797;
	background: none;
}