@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

.fadeInUp {
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out
}

.slideLeft {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%)
    }
    100% {
        transform: translateX(0%)
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%)
    }
    100% {
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%)
    }
    100% {
        -webkit-transform: translateX(0%)
    }
}

.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%)
    }
    100% {
        transform: translateX(0%)
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%)
    }
    100% {
        -webkit-transform: translateX(0%)
    }
}

@-moz-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%)
    }
    100% {
        -webkit-transform: translateX(0%)
    }
}