@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/flexbox";
@import "compass/support";
@import "compass/utilities";
@import "compass/utilities/sprites";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/color/contrast";

$icons-spacing: 25px;
@import "icons/*.png";
$experimental-support-for-svg: true;
$svg-gradient-shim-threshold: 0.1;

$content_width: 940px;

$gotham: "Gotham Pro";
$futura: 'Futura-Normal';

$color_yellow: #fcf570;
$color_yellow_active: #ffdd00;
$color_blue: #7481cf;
$color_blue_active: #2a389a;
$color_btn: #4f5aa8;
$color_btn_active: darken($color_btn,10%);
$color_error: #cc0000;
$color_btn_text: #4f5aa8;

$contrasted-dark-default: $color_blue;
$contrasted-light-default: #FFF;


/* Mixins */

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin linear_gradient($color_begin, $color_stop)
{
  background: $color_stop;
  @include filter-gradient($color_begin, $color_stop);
  @include background-image (linear-gradient(top, $color_begin, $color_stop));
}

@mixin spriter($name) {
  @include icons-sprite($name);
  $width: icons-sprite-width($name);
  $height: icons-sprite-height($name);
  width: $width;
  height: $height;
}

@mixin iconer($name) {
  @include icons-sprite($name);
  $width: icons-sprite-width($name);
  $height: icons-sprite-height($name);
  min-width: $width;
  min-height: $height;
  padding-left: $width+10;
}

@mixin block-justify ($amount) {
    text-align: justify;
    line-height: 0;
    text-justify: newspaper;
    &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
    &>* {
        width: 100% / $amount - 1%;
        display: inline-block;
        text-align: left;
        line-height: normal;
        vertical-align: top;
        //display : inline;
        //zoom : 1;
    }
}