#cboxCurrent,
#cboxTitle {
    color: #FFF;
    font-weight: normal;
    font-size: 16px;
}

.gallery-box #cboxContent {
    background-color: rgba(0, 0, 0, 0);
}

.gallery-box #cboxContent {
    background-color: rgba(0, 0, 0, 0);
}

#cboxOverlay {z-index: 150;background-color: $color_blue;}
#colorbox {z-index: 250;}

.gallery-box {
    img {
        display: block;
    }
    #cboxLoadedContent {
        margin-bottom: 0;
    }
    #cboxClose {
        top: 20px;
        right: 20px;
        z-index: 100;
        position: absolute;
        overflow: hidden;
        text-indent: 200%;
        width: 31px;
        height: 31px;
        overflow: hidden;
        background-image: none;
        &::before,
        &::after {
            content: "";
            height: 132%;
            width: 2px;
            background-color: $color_btn;
            position: absolute;
            top: 0;
        }
        &::before {
            left: 0;
            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
            -ms-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: top left;
            @include rotate(-45deg);
        }
        &::after {
            right: 0;
            -webkit-transform-origin: top right;
            -moz-transform-origin: top right;
            -ms-transform-origin: top right;
            -o-transform-origin: top right;
            transform-origin: top right;
            @include rotate(45deg);
        }
        &:hover {
            &::before,
            &::after {
                background-color: $color_btn_active;
            }
        }
    }
    #cboxWrapper {
        &>div {
            &:first-child,
            &:last-child,
            #cboxMiddleLeft,
            #cboxMiddleRight {
                display: none;
            }
        }
    }
}


#cboxPrevious,
#cboxNext {
    background: none;
    height: 100%;
    width: 50%;
    top: 0;
    z-index: 10;
    position: absolute;
    border: none;
    outline-style: none !important;
    &::after {
        content: "";
        display: block;
        top: 50%;
        position: absolute;
        @include translateY(-50%);
        padding: 10px;
        height: 30px;
        width: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    &:hover {
        &::after {
            background-color: rgba(255,255,255,.4);
        }
    }
}

#cboxPrevious {
    left: 0 !important;
    right: auto !important;
    &::after {
        left: 20px;
        background-image: url(../images/icons/icon-arrow-colorbox-left.png);
        background-position: center;
    }
}

#cboxNext {
    right: 0 !important;
    left: auto !important;
    &::after {
        right: 20px;
        background-image: url(../images/icons/icon-arrow-colorbox-right.png);
        background-position: center;
    }
}
