sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    font-size: small;
}
sub { top: 0.4em; }

* {
    @include box-sizing(border-box);
    outline-style: none !important;
}

b, strong {
    font-weight: bold;
}

body {
    color: #000;
    font-size: 18px;
    font-family: $gotham;
}

input {
    outline-style: none;
}

.nav {
    @include transition(all .5s);
}

.rotate {
    display: inline-block;
    transform: rotateY(180deg);
}

main, footer {
    width: 100%;
    overflow: hidden;
}

#section-1 {
    position: relative;
    .pluses {
        .plus {
            font-family: $futura;
            line-height: 62px;
        }
    }
}

#section-3 {
    overflow: visible;
    position: relative;
    /*margin-bottom: 135px;*/
    @include pie-clearfix;
    .switcher {
        height: 549px;
        @include display-flex;
        @include justify-content(space-between);
        .left {
            width: 50%;
            text-align: center;
            line-height: 0;
            @include align-self(flex-end);
            img {
                display: inline-block;
            }
        }
        .right {
            float: left;
            margin-left: 14px;
            margin-top: 3px;
            width: 40%;
            h2 {
                color: #000;
                font-family: $futura, serif;
                font-size: 48px;
                text-transform: uppercase;
                margin-bottom: 26px;
                margin-left: 4px;
            }
            .items {
                .item {
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 1;
                    margin-bottom: 3.5px;
                    a {
                        font-family: $gotham;
                        outline-style: none;
                        text-transform: lowercase;
                        &>span {
                            white-space: nowrap;
                            padding: 8px 0;
                            display: inline-block;
                            @include skewX(-30deg);
                            &:not(:first-child) {
                                margin-left: 28px;
                                margin-top: -8px;
                            }
                            &:first-child {
                                &::before {
                                    content: '\2015';
                                    display: inline-block;
                                    margin-right: 10px;
                                    float: left;
                                }
                            }
                            span {
                                border-bottom: 1px dashed;
                                display: inline-block;
                                @include skewX(30deg);
                            }
                        }
                        &:hover {
                            span {
                                border-bottom-color: transparent;
                            }
                        }
                    }
                    &.active {
                        a>span {
                            background-color: #fcf570;
                            margin-left: -10px;
                            padding: 8px 10px;
                            &:not(:first-child) {
                                margin-left: 18px;
                            }
                        }
                        a>span>span {
                            border-bottom-color: $color_yellow;
                        }
                    }
                }
            }
            .switcher-nav {
                a {
                    display: block;
                    position: absolute;
                    bottom: 259px;
                    text-indent: 200%;
                    overflow: hidden;
                    &.prev {
                        left: -8px;
                        @include spriter(arrow-inside-left);
                    }
                    &.next {
                        right: 12px;
                        @include spriter(arrow-inside-right);
                    }
                }
            }
        }
    }
}

.switcher {
    @include pie-clearfix;
    position: relative;
    padding: 0 20px;
}


.yellow_block {
	@include pie-clearfix;
	.content {
		background-color: $color_yellow;
		position: relative;
		&::before {
			content: "";
			background-color: $color_yellow;
			height: 100%;
			width: 139px;
			top: 0;
			right: 100%;
			display: block;
			position: absolute;
		}
		&::after {
			@extend ::before;
			right: auto;
			left: 100%;
		}
	}
    .lift {
    	@include display-flex;
    	@include justify-content(space-between);
    	@include align-items(flex-start);
        .cover {
        	color: $color_yellow;
        	position: relative;
        	/*height: 464px;*/
            min-height: 100%;
            @include align-self(stretch);
        	h3 {
    			font-size: 48px;
    			color: $color_yellow;
    			text-transform: uppercase;
    			margin-left: 6px;
    			padding-top: 7px;
    		}
        	&::after {
        		content: "";
        		display: block;
        		position: absolute;
        		background: url("../images/back-in-house.jpg");
                @include background-size(cover);
        		width: 390px;
        		/*height: 464px;*/
                height: 100%;
        		top: 0;
        		left: -40px;
        		z-index: 0;
        	}
        	.inner {
        		position: relative;
        		z-index: 1;
        		@include display-flex;
        		@include justify-content(space-between);
        		@include align-items(flex-start);
        		@include flex-direction(column);
        		height: 100%;
        	}

        	.counter-wrapper {
        		@include display-flex;
        		@include justify-content(space-between);
        		@include align-items(flex-start);
        	}

        	.counter {
        		font-family: $gotham;
        		font-weight: bold;
        		font-size: 72px;
        		margin-right: 5px;
        		line-height: 0.8;
        		margin-right: 2px;
                margin-top: 3px;
        	}
        	.desc {
        		text-transform: uppercase;
        		font-family: $futura;
        		font-size: 18px;
        		line-height: 22px;
        		margin-bottom: 43px;
        	}
        }
        .blocks {
        		margin-left: auto;
            	@include display-flex;
            	@include justify-content(flex-start);
            	@include align-items(flex-start);
            	@include flex-wrap(wrap);
            	width: 515px;
            	padding-top: 38px;
                /*height: 426px;*/
                .block {
                	text-transform: uppercase;
                	color: #4f5aa8;
                	width: 45%;
                	margin-bottom: 35px;
                	line-height: 28px;
                    font-family: $futura;
                	&:nth-child(2n+1) {
                	    width: 54.1%;
                	}
                    span {
                        text-transform: none;
                        font-size: 14px;
                        line-height: 24px;
                        font-family: $gotham;
                    }
                	.ico {
                		height: 81px;
                		line-height: 1;
                		&::after {
                			display: block;
                			content: "";
                		}
                	}
                    &.block-1 {
                        .ico::after {
                        	@include spriter(icon-in-house-1);
                        }
                    }
                    &.block-2 {
                        .ico::after {
                        	@include spriter(icon-in-house-2);
                        }
                    }
                    &.block-3 {
                        .ico {
                            height: 88px;
                            &::after {
                            	@include spriter(icon-in-house-3);
                            }
                        }
                    }
                    &.block-4 {
                        .ico::after {
                        	@include spriter(icon-in-house-4);
                        }
                    }
                }

        }
    }

}

.section-closed {
    margin-top: 97px;
    padding-bottom: 150px;
    h2 {
        color: #000;
        font-size: 48px;
        text-transform: uppercase;
        text-align: right;
        margin-bottom: 67px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        white-space: nowrap;
        position: relative;
        span {
            background-color: #FFF;
            position: relative;
            padding-left: 20px;
            padding-right: 5px;
            flex-shrink: 0;
        }
        &::before {
            content: "";
            width: 95%;
            position: absolute;
            left: 5px;
            top: 50%;
            height: 1px;
            background-color: #000;
            display: block;

        }
        &::after {
            background: url(../images/icons/icon-heading-shield.png) no-repeat scroll 0 center;
            content: "";
            display: block;
            height: 1em;
            width: 100%;
        }
    }
    .items {
        @include display-flex;
        @include justify-content(flex-start);
        @include align-items(flex-start);
        margin-bottom: 40px;
    }
    .item {
        width: 25%;
        .icon {
            margin-bottom: 19px;
            height: 70px;
            position: relative;
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }
        }
        p {
            color: #3F3F3F;
            font-family: $futura;
            font-size: 18px;
            line-height: 28px;
            text-transform: uppercase;
        }
        &-1 {
            width: 29.3%;
            .icon {
                top: 6px;
                &::after {
                    @include spriter(icon-closed-1);
                }
            }
        }
        &-2 {
            width: 24.5%;
            .icon {
                left: 13px;
                &::after {
                    @include spriter(icon-closed-2);
                }
            }
        }
        &-3 {
            width: 29.8%;
            .icon {
                left: 4px;
                &::after {
                    @include spriter(icon-closed-3);
                }
            }
        }
        &-4 {
            width: auto;
            .icon {
                top: -5px;
                &::after {
                    @include spriter(icon-closed-4);
                }
            }
        }
    }
}

.section-joy {
    overflow: visible;
    height: 772px;
    background: url("../images/window.jpg");
    margin-bottom: 30px;
    .content {
        position: relative;
        height: 100%;
        .inner {
            position: absolute;
            padding: 39px 57px;
            background-color: rgba(116, 129, 207, .9);
            left: -60px;
            bottom: -30px;
            width: 784px;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            &::after {
                content: "";
                display: block;
                @include spriter(icon-eye-lantern);
                position: absolute;
                right: 0;
                top: 14px;
            }
            h2 {
                font-family: $futura;
                font-size: 48px;
                line-height: 1;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 26px;
            }

          p {
              color: #FFF;
              font-size: 18px;
              line-height: 28px;
              font-family: $gotham;
          }
        }
  }
}

.section-fortress {
    margin-top: 110px;
    padding-top: 3px;
    height: 1062px;
    .content {
        position: relative;
        .pic {
            position: absolute;
            left: -450px;
            top: 0;
        }

        .inner {
            width: 530px;
            float: right;
            border-bottom: 1px solid $color_blue;
            position: relative;
            height: 669px;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: -1px;
                @include spriter(icon-fortress);
                display: block;

            }
          h2 {
            color: #000;
            font-size: 48px;
            font-family: $futura;
            line-height: 62px;
            text-transform: uppercase;
            margin-top: 0;
            margin-top: -13px;
            margin-bottom: 27px;
          }

          p {
            font-family: $gotham;
            font-size: 18px;
            line-height: 28px;
          }
        }
  }
}

.section-yard {
    overflow: visible;
    position: relative;
    z-index: 2;
    padding: 33px 0;
    margin-top: -350px;
    .shadow-block {
        padding: 0;
    }
    .content {
        position: relative;
        @include pie-clearfix;
        .inner {
            width: 390px;
            float: left;
            .icon {
                @include spriter(icon-balloon);
                margin-bottom: 30px;
            }
            h2 {
                color: #000;
                font-family: $futura;
                font-size: 48px;
                line-height: 1;
                text-transform: uppercase;
            }
            p {
                font-family: $gotham;
                font-size: 18px;
                line-height: 28px;
            }
        }
        .pic {
            position: absolute;
            right: -68px;
        }
    }
}


.section-plans {
    overflow: visible;
    margin-top: -50px;
  .subsection-header {
    padding-top: 84px;
    padding-bottom: 54px;
    background: url("../images/plan-bg.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h2 {
      font-size: 48px;
      color: #FFF;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-left: -4px;
    }
    p {
        color: #FFF;
        font-family: $gotham;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 22px;
    }
    .items {
      @include display-flex;
      align-items: flex-end;
      justify-content: flex-start;
      .item {
        margin-left: 18px;
        color: #FFF;
        min-width: 107px;
        .label {
          line-height: 22px;
          margin-bottom: 6px;
          font-size: 18px;
        }
        .value {
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          overflow: hidden;
          line-height: 58px;
          text-align: center;
          padding: 0 15px;
          height: 58px;
          width: 100%;
          border: 1px dashed #FFF;
          cursor: pointer;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          &::after {
            content: " м\00b2";
          }
        }
        &.selected {
          .value {
            background-color: $color_yellow;
            color: $color_blue;
          }
        }
        &:hover {
          @extend .selected;
        }
        &:first-child {
          margin-left: 0;
        }
        &.big {
          margin-left: 55px;
        }
      }
    }
  }
  .subsection-content {
    padding: 45px 0;
    .btn {
/*      position: absolute;*/
      top: 241px;
      right: 0;
      min-width: 312px;
      text-align: center;
      z-index: 10;
      margin-top: 30px;
      background-color: $color_btn;
      color: #FFF;
      &:hover {
          background-color: $color_btn_active;
      }
    }
    .items {
      position: relative;
    }
    .item {
      @include display-flex;
      opacity: 0;
      /*@include scale(0.9);*/
      justify-content: flex-start;
      align-items: flex-start;
      @include transition(all .5s);
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      &.selected {
        opacity: 1;
        @include scale(1);
        z-index: 10;
      }
      .col {
        h3 {
          font-size: 24px;
          line-height: 22px;
          margin-bottom: 21px;
          color: #000;
          margin-top: 0;
        }
        &.col-1 {
          width: 361px;
          padding-top: 6px;
          img {
            max-height: 261px;
            display: block;
          }
          .zoom {
            color: $color_btn;
            display: inline-block;
            left: 28px;
            margin-top: 11px;
            position: relative;
            border-bottom: 1px dashed $color_btn;
            &::before {
              content: "";
              position: absolute;
              left: -5px;
              @include translateX(-100%);
              @include spriter(icon-zoom);
            }
          }
          a {
            position: relative;
            &:hover .zoom {
              color: $color_btn_active;
              border-bottom-color: transparent;
              /*&::before {
                @include spriter(icon-zoom-active);
              }*/
            }
          }
        }
        &.col-2 {
          width: 328px;
          h3 {
            padding-left: 15px;
          }
          .char-table {
            display: table;
            .row {
              display: table-row;
              background-color: #FEF3E4;
              &:nth-child(even) {
                background: none;
                &>* {
                  padding: 6px 15px;
                }
              }
            }
            .name {
              display: table-cell;
              padding: 0 15px;
              height: 36px;
              line-height: 36px;
            }
            .value {
              @extend .name;
              padding-left: 3px !important;
              &::after {
                content: " м\00b2";
              }
            }
          }
        }
        &.col-3 {
          width: 200px;
          display: none;
          h3 {
            margin-bottom: 25px;
          }
          .price-item {
            .unit {
              margin-bottom: 10px;
            }
            .value {
              color: $color_blue;
              font-size: 42px;
              white-space: nowrap;
              line-height: 36px;
              font-family: $futura;
              &::after {
                content: "a";
                font-family: 'als_rubl';
                margin-left: 15px;
              }
            }
            &+.price-item {
              margin-top: 14px;
            }
          }
        }
      }
    }
  }
}


.section-predetails {
    height: 450px;
    background: url("../images/park2.jpg") no-repeat center / cover;
}
.section-details {
    padding-top: 70px;
    padding-bottom: 125px;
    h2 {
        color: #000;
        font-size: 48px;
        font-family: $futura;
        text-transform: uppercase;
        margin-top: 0;
        margin-top: 17px;
    }
    .inner {
        font-size: 18px;
        line-height: 28px;
    }
    .left {
        float: left;
        width: 50%;
    }
    .right {
        float: right;
        width: 292px;
    }
}


footer {
    background-color: #efefef;
    height: 54px;
    line-height: 54px;
    * {
        font-family: $gotham;
        font-size: 13px;
    }
    .content {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(center);
    }
    .copyright {}
    .studio {
        vertical-align: middle;
        img {
            vertical-align: middle;
            margin-left: 10px;
        }
    }
}

.modal-block {
    display: none;
}


.shadow-block {
        position: absolute;
        padding-top: 52px;
        bottom: 0;
        left: 50%;
        z-index: -1;
        @include translateX(-50%);
        width: 1523px;
        height: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-box-shadow: #CCC 0 0 32px 0;
        box-shadow: #CCC 0 0 32px 0;
        background-color: #FFF;
    }

    [type="submit"], .btn {
        @include transition(all .2s);
    }

    .section-stages {
      padding-bottom: 100px;
      .content {
          position: relative;
          &::after {
              content: "";
              position: absolute;
              bottom: -65px;
              left: -69px;
              @include spriter(eye-block-shadow);
              z-index: -1;
          }
      }
      h2 {
        margin-bottom: 76px;
        font-size: 48px;
        color: #000;
        text-transform: uppercase;
      }
      .ready-wrapper {
        width: 70%;
        margin: auto;
        height: 2px;
        background-color: #D0D0D0;
        margin-bottom: 55px;
        position: relative;
        @include translateX(-30px);
        &::after {
            content: "";
            position: absolute;
            left: 100%;
            top: 0;
            height: 2px;
            width: 20px;
            background-color: #d0d0d0;
        }
      }
      .ready-line {
        position: relative;
        width: 0%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include background-image(linear-gradient(to right,
        $color_blue,
        $color_blue_active));
      }
      .ready-value {
        position: absolute;
        top: 0;
        right: 0;
        @include spriter(icon-triangle);
        @include translate(50%,-67%);
        text-align: center;
        color: #000;
        font-size: 24px;
        font-family: $futura;
        @include transition(all .2s);
        line-height: 72px;
        &::before {
          line-height: 1;
          content: "Дом готов на";
          top: 0.6em;
          position: absolute;
          left: 0;
          @include translateX(-100%);
          color: #000;
          font-size: 18px;
          font-family: $gotham;
          font-weight: normal;
          white-space: nowrap;
        }
        &::after {
            content: "%";
        }
      }
    }

    .line-wrapper {
        position: relative;
    }

    .stages-dates {
        font-family: $futura;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        @include translate(0,-.4em);
        &.date-start {
            left: 0;
        }
        &.date-finish {
            right: 0;
        }
    }

    .stages-current-status-description {
      font-size: 18px;
      line-height: 28px;
      float: left;
      strong {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .stages-wrapper {
        @include display-flex;
        margin-bottom: 55px;
        position: relative;
        @include pie-clearfix;
        a {
            display: block;
            flex-shrink: 1;
            @include transition(all .2s);
            overflow: hidden;
            @include box-shadow(5px 2px 10px -2px rgba(18,61,142,.21));
            width: 267px;
            height: 152px;
            overflow: hidden;
            &:first-child {
                flex-shrink: 0;
            }
            &:hover {
                flex-shrink: 0;
            }
            img {
                display: block;
                /*width: 267px;
                height: 152px;*/
                width: 275px;
                height: 158px;

            }
        }
        &:hover {
            a {
                &:first-child {
                    flex-shrink: 1;
                }
            }
        }
    }







    .stripe {
        background-color: $color_blue;
        @include display-flex;
        @include justify-content(flex-start);
        @include align-items(flex-end);
        position: relative;
        padding-bottom: 33px;
        padding-top: 82px;
        &::before, &::after {
            content: "";
            display: block;
            height: 100%;
            width: 70px;
            position: absolute;
            top: 0;
            height: 100%;
            background-color: $color_blue;
        }
        &:before {
            left: 100%;
        }
        &::after {
            right: 100%;
        }
        .left {
            color: #FFF;
            position: relative;
            padding-left: 78px;
            text-transform: uppercase;
            font-size: 26px;
            line-height: 30px;
            font-family: $futura;
            margin-right: 18px;
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 5px;
                @include spriter(stages-eye);
            }
        }
        .right {
            form {
                position: relative;
                top: -8px;
                @include display-flex;
                @include justify-content(flex-start);
                @include align-items(flex-end);
                .input-wrapper {
                    width: 265px;
                }
                .error-message {
                    color: #FFF;
                }
                [type="submit"] {
                    margin-left: 11px;
                    width: 267px;
                    text-align: center;
                    font-family: $futura;
                    font-size: 14px;
                    text-transform: uppercase;
                    position: relative;
                    bottom: -4px;
                    height: 58px;
                }
            }
        }
    }

    .section-variants {
      padding-bottom: 72px;
      margin-top: 50px;
      .title-wrapper {
        margin-bottom: 62px;
        @include pie-clearfix;
          h2 {
            color: #000;
            text-transform: uppercase;
            margin: 0;
            font-size: 48px;
            line-height: 42px;
            float: left;
            width: 238px;
          }
          .description {
            margin-left: 238px;
            font-size: 18px;
            line-height: 30px;
            position: relative;
            top: -8px;
            margin-bottom: 0;
          }
      }
    }

    .tabs-wrapper {
      .btns {
        @include display-flex;
        @include justify-content(space-around);
        @include align-items(center);
        .btn {
          min-width: auto;
          width: auto;
          height: 49px;
          background-color: #fff;
          color: $color_blue;
          text-transform: uppercase;
          line-height: 50px;
          position: relative;
          text-align: center;
          outline-style: none;
          position: relative;
          font-family: $futura;
          font-size: 22px;
          z-index: 2;
          &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 8px;
              background-color: $color_blue;
              bottom: -15px;
              left: 0;
              @include transition(all .5s);
              opacity: 0;
          }
          &:hover, &.selected {
            &::after {
                bottom: 0;
                opacity: 1;
            }
          }
        }
      }
      .tabs {
        position: relative;
        background-color: #FFF;
        padding-top: 73px;
        padding-bottom: 62px;
        min-height: 100px;
        border: 1px solid #dddddd;
        .tab {
          position: relative;
          display: none;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          @include scale(0.95);
          @include transition(all .5s);
          @include pie-clearfix;
          z-index: 0;
          &.selected {
            opacity: 1;
            @include scale(1);
            z-index: 1;
            display: block;
          }
          h3 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #000;
            text-transform: uppercase;
          }
          p {
            line-height: 24px;
          }
          ul {
            margin: 20px 0;
            li {
              margin-bottom: 10px;
              position: relative;
              &::before {
                content: "\2014";
                margin-right: 10px;
              }
            }
          }
        }
        .banks {
          img {
            position: relative;
            margin-bottom: 29px;
            vertical-align: middle;
            &:first-child {
              margin-right: 79px;
              top: 14px;
            }
            &:nth-child(2) {
              margin-right: 124px;
            }
            &:nth-child(4) {
              margin-right: 124px;
              margin-left: 135px;
              margin-bottom: 0;
            }
            &:nth-child(5) {
              margin-bottom: 0;
            }
          }
        }
        &::before,
        &::after {
          content: "";
          width: 83px;
          height: 100%;
          position: absolute;
          background-color: #FFF;
          top: 0;
          left: 100%;
          border: 1px solid #ddd;
        }
        &::after {
          left: auto;
          right: 100%;
          border-right: none;
        }
        &::before {
            border-left: none;
        }
      }
      .btn.popupper {
        width: 270px;
        margin-top: 61px;
        font-family: $futura;
        font-size: 18px;
      }
    }

    .center {
      text-align: center;
      &>* {
          margin-left: auto;
          margin-right: auto;
      }
    }


    .btn {
        display: inline-block;
        min-width: 220px;
        &.yellow {
            background-color: $color_yellow;
            color: $color_btn_text;
            &:hover {
                background-color: #ffdd00;
            }
        }
        &.blue {
            background-color: $color_blue;
            color: #FFF;
            &:hover {
                background-color: $color_blue_active;
            }
        }
    }




.table {
  display: table;
  margin: 40px auto 20px;
  width: 80%;
}

.table-head {
  display: table-header-group;
  text-align: center;
  font-weight: bold;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  padding: 10px;
}

.table-caption {
  display: table-caption;
  text-align: center;
  font-weight: bold;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.section-company {
  padding: 70px 0;
  h2 {
    color: #000;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
  }
  .row {
    @include pie-clearfix;
  }
  .left {
    width: 68.8%;
    float: left;
    font-size: 18px;
    line-height: 28px;
    p {
      &+p {
        margin-top: 28px;
      }
    }
  }
  .right {
    float: right;
    padding-left: 25px;
    width: 29.2%;
  }
  .pic {
    @include spriter(crane);
    margin-left: 4px;
    margin-top: 23px;
    margin-bottom: 57px;
  }
  .pic-description {
    color: #4f5aa8;
    font-family: 'Futura-Bold';
    font-size: 52px;
    white-space: nowrap;
    line-height: 1;
    margin-left: 3px;
    sup {
        font-size: 20px;
        top: -1em;
    }
    &::after {
      text-transform: none;
    }
  }
  .pic-description + p {
        font-size: 18px;
        line-height: 26px;
        margin-left: 12px;
        margin-top: -9px;
  }
  .docs {
    margin-top: 58px;
    h3 {
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 10px;
    }
    .doc-wrapper {
      @include display-flex;
      @include justify-content(flex-start);
      @include align-items(flex-start);
      a {
        font-size: 18px;
        line-height: 24px;
        position: relative;
        display: inline-block;
        width: 234px;
        text-decoration: none;
        color: #000;
        margin-left: 78px;
        &:first-child {
            margin-left: 0;
        }
        img {
            display: block;
            margin-bottom: 5px;
        }
        span {
          border-bottom: 1px solid #b3b3b3;
          display: inline;
        }
        &:hover {
          span {
            border-bottom: none;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.section-contacts {
  background: url("../images/bg-contacts.jpg");
  padding-bottom: 105px;
  padding-top: 126px;
  color: #FFF;
  height: 600px;
  .pre-title-title-ha-ha-ha {
      color: $color_yellow;
      font-size: 60px;
      line-height: 68px;
      font-family: 'Futura-Bold';
      text-align: center;
      margin-bottom: 109px;
      letter-spacing: -1px;
  }
  h2 {
    font-size: 60px;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 33px;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    position: relative;
    span {

        position: relative;
        padding-right: 5px;
    }
    &::before {
        content: "";
        width: 63%;
        position: absolute;
        right: 32px;
        top: 36%;
        height: 1px;
        background-color: #FFF;
        display: block;

    }
    &::after {
        background: url(../images/icons/icon-human-being.png) no-repeat scroll right 4px;
        content: "";
        display: block;
        height: 1em;
        width: 100%;
    }
  }
  a[href^="mailto:"] {
    white-space: nowrap;
    font-size: 24px;
  }
  a[href^="tel:"] {
    white-space: nowrap;
    text-decoration: none !important;
    border-bottom: none !important;
    font-size: 24px;
  }
  .cols {
    font-family: $futura;
    @include display-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    font-size: 24px;
    line-height: 32px;
    a:not(.btn) {
      color: #FFF;
      border-bottom: 1px solid #FFF;
      text-decoration: none;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
  .col {
    &.col-1 {
        width: 376px;
    }
    &.col-2 {
        width: 312px;
    }
    &.col-3 {
        width: auto;
    }
  }
  .socials {
    margin-top: 7px;
    li {
      display: inline-block;
    }
    a {
      border-bottom: none !important;
      width: 32px;
      height: 32px;
      display: block;
      text-indent: 200%;
      overflow: hidden;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      position: relative;
      background-color: #FFF;
      @include transition(all .2s);
      &:hover {
        background-color: $color_yellow;
      }
      &::after {
        top: 57%;
        left: 50%;
        @include translate(-50%,
        -50%);
        font-size: 20px;
        position: absolute;
        text-indent: 0;
        font-weight: bold;
        color: $color_blue;
      }
      &.vk {
        &::after {
          content: "В";
        }
      }
      &.fb {
        &::after {
          content: "f";
        }
      }
      &.tw {
        &::after {
          content: "t";
        }
      }
      &.in {
        @include spriter(icon-instagram);
      }
    }
  }
}

.section-digestive {
    padding-top: 40px;
    padding-bottom: 75px;
    p {
        color: $color_blue;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 50px;
    }

    form {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(flex-end);

      .input-wrapper {
        width: 265px;
        font-size: 14px;
        font-family: $gotham;
        label {
            color: $color_blue_active;
        }
        input {
            color: $color_blue_active;
            border-bottom: 2px solid #cacde5;
        }
        .border {
            background-color: $color_blue;
        }
      }
      [type="submit"] {
          width: 266px;
          font-family: $futura;
          font-size: 16px;
      }

    }
  }


  .input-wrapper {
        position: relative;
        label {
            position: absolute;
            left: 0;
            bottom: 10px;
            @include transition(all .2s);
            color: #FFF;
            text-transform: uppercase;
            font-size: 14px;
        }
        input:focus ~ label {
            bottom: 40px;
            @include scale(.8);
        }
        input:not([type="submit"]) {
            background: none;
            border: none;
            border-bottom: 1px solid #9ea7dd;
            color: #FFF;
            height: 45px;
            width: 100%;
            font-size: 14px;
            font-family: $gotham;
            outline-style: none !important;
            @include input-placeholder {
                color: #FFF;
            }
            &.filled {
                &~label {
                    @include translate(30px, 0);
                    @include scale(.8);
                    top: -1em;
                }
            }
        }
    }

    .skrito {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    [class^=" _ibani_"] {
      @include translateX(-50%);
      &>div {
        overflow: visible !important;
      }
      &:hover {
        z-index: 110 !important;
      }
    }

    .error-message {
      color: $color_error;
      font-size: 14px;
      font-style: italic;
      margin-top: 10px;
      position: absolute;
      left: 0;
      bottom: -50%;
    }

.page-header .menu {
    @include border-radius(3px);
    @include spriter(menu);
    &:hover {
        @include spriter(menu-active);
    }
}

.call_back:hover {
    background: none !important;
}

.border {
    background-color: $color_blue;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include transition(all .3s);
}
input:focus ~ .border {
    width: 100%;
}

.about {
    font-family: $futura;
}



.modal_popup {
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 100;
    padding: 0;
    margin: 0;
    display: none;
}

.modal_popup .modal_block {
    background-image: url(../images/modal_popup.jpg);
    width: 940px;
    height: 625px;
    top: 50%;
    margin-top: -362px;
    left: 50%;
    margin-left: -470px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    display: block
}



.submit_modal {
    width: 217px!important;
    background-color: #4f5aa8;
    border-radius: 2px;
    text-align: center;
    height: 58px;
    line-height: 58px;
    color: #Fff;
    font-family: 'Gotham Pro';
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

#modal-form-modal-phone {
    width: 212px;
    height: 58px;
    border-color: #4f5aa8;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    color: #4f5aa8;
    font-size: 14px;
    padding: 0 17px;
    box-sizing: border-box;
    color: #6268ac;
    font: 700 14px / 41px Gotham Pro;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    line-height: 78px;
}

.modal_popup .input-wrapper {
    float: left;
}

#form-modal {
    bottom: 23px;
    position: absolute;
    left: 34px;
    @include display-flex;
}

.modal_popup label {
    color: #7481cf;
    font: 700 14px / 41px Gotham Pro;
    margin-left: 22px;


}
.modal_popup .input-wrapper input:focus ~ label {
    top: 0px;
    left: 13px;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    margin-left: 0;
}

.modal_popup p.thnks {
    bottom: 23px;
    position: absolute;
    margin-left: 35px;
    color: #4f5aa8!important;
    display: none;
}

.close_modal_back {
   position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    display: block;
}

.close_button {
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    right: 0;
    top: -55px;
    background-image: url(../images/close_popup.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.modal_popup .error-message {
    bottom: -37%;
}

.blocks-wrapper {
    @include pie-clearfix;
    margin-bottom: 40px;
}

input {
  -webkit-appearance: none;
}

@keyframes mouse {
    0% {
        background-position: left top;
    }
    50% {
        background-position: left 10px;
    }
    100% {
        background-position: left top;
    }
}


.scroll {
    position: relative;
    span {
        display:block;
        width:5px;
        height:5px;
        -ms-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
        border-right:2px solid #7481cf;
        border-bottom:2px solid #7481cf;
        margin:0 0 3px 0px;
    }
    &>div {
        width: 5px;
        position: absolute;
        left: 8px;
        top: 36px;
    }
    .unu {
        margin-top:6px;
        -webkit-animation-delay:.1s;
        -moz-animation-delay:.1s;
        -webkit-animation-direction:alternate;
    }
    .unu, .doi, .trei {
        -webkit-animation:mouse-scroll 1s infinite;
        -moz-animation:mouse-scroll 1s infinite;
        margin-left: 1px;
    }
    .doi {
        -webkit-animation-delay:.2s;
        -moz-animation-delay:.2s;
        -webkit-animation-direction:alternate;
    }
    .trei {
        -webkit-animation-delay:.3s;
        -moz-animation-delay:.3s;
        -webkit-animation-direction:alternate;
    }
    .mouse {
        height:36px;
        width:23px;
        border-radius:10px;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none;
        border:2px solid #7481cf;
        position: absolute;
        top: 0;
        left: 0;
    }
    .wheel {
        height:5px;
        width:2px;
        display:block;
        margin:5px auto;
        background:#7481cf;
        position:relative;
        -webkit-animation:mouse-wheel 1.2s ease infinite;
        -moz-animation:mouse-wheel 1.2s ease infinite;
        animation:mouse-wheel 1.2s ease infinite;
    }
}

@-webkit-keyframes mouse-wheel {
    0% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    100% {opacity:0;-webkit-transform:translateY(6px);-ms-transform:translateY(6px);transform:translateY(6px)}
}
@keyframes mouse-wheel {
    0% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    100% {opacity:0;-webkit-transform:translateY(6px);-ms-transform:translateY(6px);transform:translateY(6px)}
}
@-webkit-keyframes mouse-scroll {
    0% {opacity:0}
    50% {opacity:.5}
    100% {opacity:1}
}
@keyframes mouse-scroll {
    0% {opacity:0}
    50% {opacity:.5}
    100% {opacity:1}
}

.modal {
  .markup {
    color: $color_yellow;
    font-size: 14px;
    margin-top: 10px;
  }
}

.start-price {
    color: $color_yellow;
    font-size: 36px;
    margin-bottom: 60px;
}