input {
    outline: none;
}

fieldset {
    border: none;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Futura-Normal', Arial, FreeSans, sans-serif;
    color: #000;
    background: #fff;
    margin: 0;
    min-width: 960px;
}

::-moz-selection {
    text-shadow: none;
    background-color: #5e5e5e;
    color: #fff;
}

::selection {
    text-shadow: none;
    background-color: #5e5e5e;
    color: #fff;
}

body {
    -webkit-tap-highlight-color: #5e5e5e;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.section__title {
    margin: 30px 0 20px;
    font-family: 'Futura-Normal', Arial, FreeSans, sans-serif;
    font-weight: normal
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a,
.section__title a {
    color: inherit;
    text-decoration: none
}

h1,
.h1 {
    font-size: 32px;
    line-height: 68px;
    text-transform: uppercase
}

h2,
.h2 {
    font-size: 48px;
    line-height: 50px
}

h3,
.h3,
.section__title {
    font-size: 36px;
    line-height: 42px
}

h4,
.h4 {
    font-size: 30px;
    line-height: 30px;
    text-transform: none
}

h5,
.h5 {
    font-size: 24px;
    line-height: 24px;
    text-transform: none
}

h6,
.h6 {
    font-size: 20px;
    line-height: 20px;
    text-transform: none
}

hr,
.hr {
    height: 2px;
    border: none;
    background: #999;
    width: 100%;
    clear: both;
    margin: 1.83333em 0
}

p,
pre,
blockquote,
table {
    margin: 0 0 20px
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ''
}

blockquote {
    margin: 1.22222em 4.2em
}

.content {
    width: 916px;
    margin: 0 auto;
}

a {
    font-size: 18px;
    font-family: 'Futura-Normal';
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}

.page-header {
    background-image: url("../images/back_top.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page-header h1 {
    letter-spacing: 2px
}

.page-header .nav {
    line-height: 72px;
    z-index: 1000;
}

.page-header .nav .phones {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
}

h1,
.h1 {
    font-size: 60px;
    font-family: 'Futura-Normal';
    color: rgb(255, 255, 255);
}

h2,
.h2 {
    font-size: 88px;
    color: rgb(255, 255, 255);
}

h3,
.h3 {
    font-size: 88px;
    color: rgb(255, 255, 255);
    padding-top: 10px;
}

.page-header .name {
    padding-top: 45%;
}

.page-header .name p {
    font-family: 'Futura-Normal';
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: -20px 0 20px
}

section {
    overflow: hidden;
}

.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0
}

.ie6-7 .bx-wrapper {
    zoom: 1
}

.bx-wrapper img {
    display: block;
    max-width: 100%
}

.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%
}

.bx-wrapper .bx-loading {
    min-height: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000
}

.bx-pager {
    text-align: center;
    padding: 0;
    position: absolute;
    z-index: 53;
    left: 0;
    bottom: 0;
    width: 100%
}

.bx-pager .bx-pager-item {
    display: inline-block;
    vertical-align: middle;
    margin: 3px
}

.ie6-7 .bx-pager .bx-pager-item {
    zoom: 1;
    display: inline
}

.bx-pager .bx-pager-link {
    position: relative;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    text-indent: -9999px;
    margin: 3px;
    color: transparent;
    background: #00adc1;
    -moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s
}

.bx-pager .bx-pager-link:before {
    position: absolute;
    content: '';
    top: -3px;
    left: -3px;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    -moz-transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    border: 1px solid transparent
}

.bx-pager .bx-pager-link:hover:before,
.bx-pager .bx-pager-link:active:before {
    border-color: #00adc1
}

.bx-pager .bx-pager-link.active:before {
    border-color: #00adc1
}

.bx-pager .bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.bx-pager .bx-default-pager a.active,
.bx-pager .bx-default-pager a:hover {
    background: #000
}

.bx-controls-auto {
    text-align: center
}

.bx-controls-auto .bx-controls-auto-item {
    display: inline-block
}

.ie6-7 .bx-controls-auto .bx-controls-auto-item {
    zoom: 1;
    display: inline
}

.bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    margin: 0 3px
}

.bx-controls-auto .bx-start.active,
.bx-controls-auto .bx-start:hover {
    background-position: -86px 0
}

.bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    margin: 0 3px
}

.bx-controls-auto .bx-stop.active,
.bx-controls-auto .bx-stop:hover {
    background-position: -86px -33px
}

.bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%
}

.bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px
}

.bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666 \9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%
}

.bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px
}

.bx-viewport {
    margin: 0 auto
}

.bx-prev,
.bx-next {
    position: absolute;
    outline: 0;
    top: 50%;
    margin-top: -65px;
    width: 34px;
    height: 130px;
    text-indent: -99999px;
    z-index: 999;
    color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out
}

.bx-prev.disabled,
.bx-next.disabled {
    cursor: default;
    display: none
}

.bx-prev:hover,
.bx-next:hover {
    color: transparent
}

.bx-prev {
    left: -50px;
    background-position: -33px 0
}

.bx-prev:hover,
.bx-prev.ico-arrow-nav-left-hover {
    background-position: -33px 0
}

.bx-next {
    right: -45px;
    background-position: -34px -136px
}

.bx-next:hover,
.bx-next.ico-arrow-nav-right-hover {
    background-position: -34px -136px
}

.btn {
    border: none;
    text-align: center;
    line-height: 58px;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    font-family: $gotham;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
}

.btn.yellow {
    background-color: #fcf570;
    color: rgb(81, 93, 172);
}

.page-header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.page-header a.logo {
    display: block;
    margin-top: 20px;
    float: left;
}

.page-header a.tel {
    font-size: 16px;
    font-family: $gotham;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-left: 180px;
}

.page-header a.call_back {
    font-size: 18px;
    font-family: "Futura-Normal";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    margin-left: 50px;
    background: -moz-linear-gradient(left, #fff, #fff 60%, transparent 60%);
    background: -ms-linear-gradient(left, #fff, #fff 60%, transparent 60%);
    background: -o-linear-gradient(left, #fff, #fff 60%, transparent 60%);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), color-stop(0.6, #fff), color-stop(0.6, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, #fff, #fff 60%, rgba(0, 0, 0, 0) 60%);
    background: linear-gradient(left, white, white 60%, transparent 60%);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    display: block;
    float: left;
    margin-top: 29px;
}

.page-header .menu {
    display: block;
    cursor: pointer;
    margin: 18px 10px;
    float: right;
}

#section-1 {
    background-image: url(../images/back_top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 2005px;
}

#section-1 .cloud-1 {
    transition: 0.3s;
    width: 1183px;
    height: 523px;
    left: 50%;
    margin-top: 17%;
    margin-left: -323px;
    position: absolute;
    background-image: url('../images/cloud_1.png');
    background-repeat: no-repeat;
    background-position: center;
}

#section-1 .cloud-2 {
    width: 609px;
    transition: 0.5s;
    height: 387px;
    left: 50%;
    margin-left: -650px;
    position: absolute;
    background-image: url('../images/cloud_2.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 36%;
}

#section-1 .content {
    position: relative;
    z-index: 1;
}

#section-1 h1 {
    font-size: 60px;
    font-family: 'Futura-Normal';
    color: rgb(252, 245, 112);
    line-height: 1.033;
    text-align: left;
    margin-top: 180px;
    text-transform: none;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

#section-1 .location {
    font-size: 22px;
    font-family: 'Futura-Normal';
    color: rgb(252, 245, 112);
    text-transform: uppercase;
    padding-left: 20px;
    background-image: url("../images/location.png");
    background-repeat: no-repeat;
    background-position: left top;
    line-height: 27px;
    margin-bottom: 10px;
}

#section-1 .desc {
    font-size: 18px;
    font-family: "Gotham Pro";
    color: rgb(252, 245, 112);
    line-height: 1.333;
    text-align: left;
    &:last-of-type {
        margin-bottom: 30px;
    }
}

#section-1 .btn {
    width: 215px;
}

#section-1 .scroll {
    font-size: 16px;
    font-family: "Futura-Normal";
    color: rgb(81, 93, 172);
    text-transform: uppercase;
    line-height: 45px;
    display: block;
    /*background-image: url('../images/mouse.png');*/
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: 60px;
    margin-top: 330px;
    height: 43px;
    padding-left: 40px;
    position: relative;
}

#section-1 h2 {
    font-size: 36px;
    font-family: "Futura-Normal";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.139;
    text-align: left;
    margin-bottom: 28px;
}

#section-1 .about {
    margin-top: 86px;
}

#section-1 .about .row .left {
    width: 110px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.611;
    float: left;
}

#section-1 .about .row .right {
    font-size: 18px;
    color: #323232;
    line-height: 1.611;
    float: left;
}

#section-1 .pluses {
    position: relative;
}

#section-1 .pluses .plus {
    position: absolute;
    padding: 0 20px 0 80px;
    height: 56px;
    background-image: url('../images/pluses.png');
    background-repeat: no-repeat;
    background-position: left;
    background-color: #fff;
    line-height: 56px;
    font-size: 18px;
    font-family: $gotham;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.24);
}

#section-1 .pluses .plus-4 {
    margin: 500px 0 0 225px;
}

#section-1 .pluses .plus-3 {
    margin: 410px 0 0 80px;
}

#section-1 .pluses .plus-2 {
    margin: 295px 0 0 220px;
}

#section-1 .pluses .plus-1 {
    margin: 100px 0 0 50px;
}

#section-2 .content {
    margin-bottom: 150px;
}

#section-2 h2 {
    font-size: 60px;
    font-family: "Futura-Normal";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    ;
    margin-top: 110px;
    margin-bottom: 80px;
}

#section-2 h2:after,
#section-2 h2:before {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background-image: url('../images/star.png');
    background-repeat: no-repeat;
    background-position: center;
}

#section-2 h2:after {
    float: right;
    margin: 0 60px 0 0;
}

#section-2 h2:before {
    float: left;
    margin: 0 0 0 60px;
}

#section-2 .text {
    width: 50%;
    font-size: 18px;
    font-family: "Gotham Pro";
    color: rgb(0, 0, 0);
    line-height: 1.556;
    text-align: left;
}

#section-2 .blocks-block {
    width: 50%;
}

#section-2 .blocks-block .blocks .block {
    float: left;
    width: 50%;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 80px;
    height: 150px;
    font-size: 18px;
    font-family: "Futura-Normal";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 28px;
    text-align: left;
    box-sizing: border-box;
}

#section-2 .blocks-block .blocks .block-1 {
    background-image: url('../images/icons/ico-1.png');
}

#section-2 .blocks-block .blocks .block-2 {
    background-image: url('../images/icons/ico-2.png');
}

#section-2 .blocks-block .blocks .block-3 {
    background-image: url('../images/icons/ico-3.png');
}

#section-2 .blocks-block .blocks .block-4 {
    background-image: url('../images/icons/ico-4.png');
}
