/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top
}

.fancybox-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    background: #fff;
    color: #000;
    text-shadow: none
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}

.fancybox-outer,
.fancybox-inner {
    position: relative
}

.fancybox-inner {
    overflow: hidden;
    width: auto !important
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Futura-Normal', Arial, FreeSans, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}


/*
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/plugins/fancybox/fancybox_sprite.png")
}*/

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url("../images/plugins/fancybox/fancybox_loading.gif") center center no-repeat
}

.fancybox-close {
    position: absolute;
    top: -53px;
    right: 0px;
    cursor: pointer;
    z-index: 8040;
    /*background: url('../images/plugins/fancybox/sprite-s9765f968f6.png');*/
    background-position: 0 -356px;
    height: 48px;
    width: 48px
}

.fancybox-close:hover,
.fancybox-close.ico-close-btn-hover {
    background-position: 0 -308px
}

.fancybox-close:hover {
    background-position: 0 -308px;
    height: 48px;
    width: 48px
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 8040
}

.fancybox-prev {
    left: -65px
}

.fancybox-next {
    right: -65px
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 154px;
    margin-top: -77px;
    cursor: pointer;
    z-index: 8040;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    background: url('../images/plugins/fancybox/sprite-s9765f968f6.png')
}

.fancybox-prev span {
    left: 0px;
    background-position: 0 0;
    height: 154px;
    width: 50px
}

.fancybox-next span {
    right: 0px;
    background-position: 0 -154px;
    height: 154px;
    width: 50px
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}

.fancybox-lock-test {
    overflow-y: hidden !important
}

.fancybox-margin {
    margin: 0 !important
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url("../images/plugins/fancybox/fancybox_overlay.png")
}

.ie6-8 .fancybox-overlay {
    width: 100% !important;
    height: 100% !important
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-title {
    visibility: hidden;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin: 10px 15px 0;
    color: #fff;
    text-align: center
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.8)
}