/*@font-face {
    font-family: 'Futura';
    src: 	url('../fonts/futura/Futura-Normal.eot');
    src: 	url('../fonts/futura/Futura-Normal.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/futura/Futura-Normal.woff2') format('woff2'),
    		url('../fonts/futura/Futura-Normal.woff') format('woff'),
    		url('../fonts/futura/Futura-Normal.ttf') format('truetype'),
    		url('../fonts/futura/Futura-Normal.svg#Futura-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothaProReg-webfont.ttf');
}

@font-face {
    font-family: 'als_rubl';
    src: url('../fonts/rouble.eot');
    src: url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble.woff2') format('woff2'),
         url('../fonts/rouble.woff') format('woff'),
         url('../fonts/rouble.ttf') format('truetype'),
         url('../fonts/rouble.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}