.section-infrastructure {
  padding-bottom: 100px;
  .map-wrapper {
    height: 731px;
    position: relative;
    padding: 22px 0;
  }
  .map-legend {
    margin-bottom: 34px;
    .items {
      @include display-flex;
      @include justify-content(space-between);
      @include align-items(flex-end);
    }
    .item {
      color: #000;
      cursor: pointer;
      position: relative;
      .icon {
        display: block;
        margin-bottom: 10px;
        margin: auto;
      }
      .name {
        position: relative;
        color: #000;
        font-family: $futura;
        font-size: 22px;
        line-height: 41px;
      }
      &:hover,
        &.selected {
        .name {
          color: $color_blue;
        }
      }
      &.selected {
        color: $color_blue;
      }

      &.item-all {
        .icon {
          @include spriter(icon-map-all);
        }
        &.selected {
          .icon {
            @include spriter(icon-map-all-active);
          }
        }
      }
      &.item-school {
        .icon {
          @include spriter(icon-map-school);
        }
        &.selected {
          .icon {
            @include spriter(icon-map-school-active);
          }
        }
      }
      &.item-shop {
        .icon {
          @include spriter(icon-map-shop);
        }
        &.selected {
          .icon {
            @include spriter(icon-map-shop-active);
          }
        }
      }
      &.item-sport {
        .icon {
          @include spriter(icon-map-sport);
        }
        &.selected {
          .icon {
            @include spriter(icon-map-sport-active);
          }
        }
      }
      &.item-hospital {
        .icon {
          @include spriter(icon-map-health);
        }
        &.selected {
          .icon {
            @include spriter(icon-map-health-active);
          }
        }
      }
      &.item-park {
        .icon {
          @include spriter(icon-map-square);
        }
        &.selected {
          .icon {
            @include spriter(icon-map-square-active);
          }
        }
      }
    }
  }
  .map {
    height: 100%;
  }
}

.icon-placemark {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #FFF;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%,
    -50%);
  }
  &.icon-placemark-school {
    background-color: #FF8712;
    &::before {
      @include spriter(icon-map-school-white);
    }
  }
  &.icon-placemark-shop,&.icon-placemark-shopping_mall,&.icon-placemark-store,&.icon-placemark-grocery_or_supermarket,&.icon-placemark-shopping {
    background-color: #14b6f9;
    &::before {
      @include spriter(icon-map-shop-white);
    }
  }
  &.icon-placemark-hospital,&.icon-placemark-pharmacy,&.icon-placemark-doctor,&.icon-placemark-doctor,&.icon-placemark-dentist {
    background-color: #f91454;
    &::before {
      @include spriter(icon-map-health-white);
    }
  }
  &.icon-placemark-park {
    background-color: #22C2B1;
    &::before {
      @include spriter(icon-map-square-white);
    }
  }
  &.icon-placemark-sport,&.icon-placemark-stadium,&.icon-placemark-gym {
    background-color: blue;
    &::before {
      @include spriter(icon-map-sport-white);
    }
  }
}