.overlay {
    z-index: 500;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color_blue;
    top: 0;
    left: 0;
    display: none;
}

.modal {
    color: $color_yellow;
    width: 940px;
    position: fixed;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    padding: 78px 70px;
    color: #FFF;
    display: none;
    z-index: 1000;
    .border {
      background-color: $color_yellow_active;
      bottom: -2px;
    }
    &.modal-showed {
        display: block;
    }
    .error-message {
        color: #FFF;
    }
    .modal-content {
        max-width: 916px;
    }
    h2 {
        line-height: 1;
        margin-top: 28px;
        margin-bottom: 1em;
        color: $color_yellow;
        font-size: 100px;
        text-transform: none;
        text-transform: uppercase;
        white-space: nowrap;
        span {
            font-style: italic;
            font-weight: bold;
        }
    }
    .close-btn {
        top: 50px;
        right: 0;
        width: 31px;
        height: 31px;
        &::before,
        &::after {
            background-color: $color_yellow;
        }
        &:hover {
            &::before,
            &::after {
                background-color: $color_yellow_active;
            }
        }
    }
}

#menu {
    text-align: center;
    height: 100%;
    .modal-content,
    nav,
    ul {
        height: 100%;
    }
    .close-btn {
        top: 23px;
    }
}

.modal {
    text-align: center;
    height: 100%;
    form {
        width: 465px;
        margin: auto;
        .input-wrapper {
            position: relative;
            height: 55px;
            margin-top: 25px;
            border-bottom: 2px solid $color_yellow;
            &:first-child {
                margin-top: 0;
            }
        }
        label {
            position: absolute;
            display: block;
            bottom: 1em;
            @include translateY(50%);
            font-size: 36px;
            text-transform: uppercase;
            color: $color_yellow;
            @include transition(all .2s);
        }
        input:not([type="submit"]) {
            border: none;
            height: 100%;
            width: 100%;
            background: none;
            font-size: 36px;
            color: $color_yellow;
            @include input-placeholder {
                opacity: 0;
            }
            &:focus {
                border-bottom-color: $color_yellow_active;
                &~label {
                    font-size: 18px;
                    top: -1em;
                }
            }
            &.filled {
                &~label {
                    @include translate(30px, 0);
                    @include scale(.8);
                    top: -1em;
                }
            }
        }
        [type="submit"] {
            margin-top: 2em;
            width: 100%;
            background-color: $color_yellow;
            color: $color_blue;
            height: 122px;
            font-family: $futura;
            font-size: 36px;
            line-height: 125px;
            &:hover {
                background-color: $color_yellow_active;
            }
        }
    }
}

.modal:not(#menu) .modal-content {
    display: inline-block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


.modal {
    &.modal-intro {
        width: 430px;
        padding: 55px 40px 55px 35px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        background-color: #FFF;
        height: auto;
        text-align: left;
        @include box-shadow(12px 12px 18px 0 rgba(105,116,132,0.46));
        .close-btn {
          width: 13px;
          height: 13px;
          top: 20px;
          right: 20px;
          &::before, &::after {
              background-color: #cecece;
          }
          &:hover {
              &::before, &::after {
                  background-color: $color_blue_active;
              }
          }
        }
        .modal-content {
            display: block !important;
            position: static !important;
            -webkit-transform: translate(0, 0) !important;
               -moz-transform: translate(0, 0) !important;
                -ms-transform: translate(0, 0) !important;
                 -o-transform: translate(0, 0) !important;
                    transform: translate(0, 0) !important;
          .modal-intro-header {
            position: relative;
            margin-bottom: 35px;
            img {
              position: absolute;
              left: -41px;
              bottom: -25px;
              &[src="images/modal-walls.png"] {
                bottom: -70px;
                &+h2 {
                  margin-top: 10px;
                  margin-right: 30px;
                }
              }
              &[src="images/modal-fasade.png"] {
                bottom: -38px;
                &+h2 {
                  margin-top: 10px;
                }
              }
              &[src="images/modal-porches.png"] {
                bottom: -38px;
                &+h2 {
                  margin-top: 10px;
                }
              }
              &[src="images/modal-plans.png"] {
                bottom: -46px;
                left: -30px;
              }
            }
            h2 {
                text-transform: uppercase;
                font-size: 18px;
                color: #000;
                margin-left: 150px;
                text-align: right;
                margin: 0;
            }
          }
          .modal-intro-content {
            color: #000;
            font-size: 14px;
            line-height: 24px;
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
          }
        }
    }
}

.close-btn{
  position: absolute;
  display: inline-block;
  width: 31px;
  height: 31px;
  overflow: hidden;
  &:hover {
    &::before, &::after {
      background: #000;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  &::before {
    @include transform(rotate(45deg));
  }
  &::after {
    @include transform(rotate(-45deg));
  }
  &.big {
    @include transform(scale(3));
  }
  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
  &.black {
    &::before, &::after {
      height: 8px;
      margin-top: -4px;
    }
  }
  &.heavy {
    &::before, &::after {
      height: 12px;
      margin-top: -6px;
    }
  }
  &.pointy {
    &::Before, &::after {
      width: 200%;
      left: -50%;
    }
  }
  &.rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
  &.blades {
    &::before, &::after {
      border-radius: 5px 0;
    }
  }
  &.warp {
    &::before, &::after {
      border-radius: 120% 0;
    }
  }
  &.fat {
    &::before, &::after {
      border-radius: 100%;
    }
  }
}