nav {
  ul {
    @include display-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    li {
      margin-bottom: 20px;
    }
  }
  a {
    font-size: 40px;
    color: #FFF;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
      .active {
      border-bottom: 1px solid;
      color: $color_yellow;
    }
  }
}